/*---------------------------- COLOR ----------------------------*/
$main-color: #0055a2;
$main-color-name: '$main-color';

$secondary-color: #0000ff;
$secondary-color-name: '$secondary-color';

$tertiary-color: #fb3;
$tertiary-color-name: '$tertiary-color';

$accent-color: #FF6347;
$accent-color-name: '$accent-color';

/*---------------------------- 반응형 ----------------------------*/
$b-web: 1200px;
$b-tab: 900px;
$b-mo: 600px;

$zIndex-set: (
  popup: 100,
  fixed: 20,
  header: 10,
  double: 2,
  default: 1,
  zero: 0,
  minus: -1,
);

$path-set: (
  icon: "../img/icon/",
  img: "../img/",
  logo: "../img/logo/",
  object: "../img/object/",
);
